## Introduction to Python

In [1]:
print ("Hello, world!")

Hello, world!

In [4]:
ndays = 14
print ('There are', ndays, 'days in a week.')

There are 14 days in a week.

In [5]:
first_name = "Martin"
print ("My name is", first_name)

My name is Martin

### Arithmetic

In [6]:
# Basic arithmetic operators
a = 4
b = 5

In [8]:
c = a * b
print (c)

20

In [10]:
last_name = "Callaghan"
full_name = first_name + " " + last_name
print(full_name)

Martin Callaghan

### String manipulation

In [13]:
msg = 'Bonjour'

if msg == 'Hello':
    print ('Bonjour!')
else:
    print ('Goodbye')

Goodbye

In [16]:
mark = 50

if mark >= 80:
    print ('Distinction')
elif mark >= 60:
    print ('Merit')
elif mark >= 40:
    print ('Pass')
else:
    print ('Fail')

Pass

In [17]:
# Reusable code with functions
def grader (mark):
    if mark >= 80:
        my_grade = 'Distinction'
    elif mark >= 60:
        my_grade = 'Merit'
    elif mark >= 40:
        my_grade = 'Pass'
    else:
        my_grade = 'Fail'
        
    return my_grade

In [18]:
john_mark = 45
john_grade = grader (john_mark)
print (john_grade)

Pass

#Celsius to Fahrenheit converter
temp_c = 20

def cel_to_fahr (temp):
    temp_f = (temp * 9/5) + 32
    
    return temp_f

In [20]:
print ('The temperature is', cel_to_fahr(temp_c), 'degrees')

The temperature is 68.0 degrees

### Loops and lists: repeating things...

In [22]:
faculties = ['Engineering', 'MAPS', 'Environment', 'FBS', 'AHC', 'ESSL', 'MedHealth', 'Business']

In [23]:
print (faculties[0])

Engineering

In [34]:
print (faculties[:])

['Engineering', 'MAPS', 'Environment', 'FBS', 'AHC', 'ESSL', 'MedHealth', 'Business']

In [35]:
print (faculties[1:6:2])

['MAPS', 'FBS', 'ESSL']

In [38]:
for f in faculties:
    print (f)

Engineering
MAPS
Environment
FBS
AHC
ESSL
MedHealth
Business

In [39]:
numbers = [1, 10, 20, 30, 40, 50]
sum = 0

for n in numbers:
    sum = sum + n

print (sum)

151

In [40]:
for i in range(1, 10):
    print (i)

1
2
3
4
5
6
7
8
9

In [41]:
for letter in 'Martin':
    print (letter)

M
a
r
t
i
n

In [43]:
my_name = 'martin'
print (my_name[4], my_name[2])

i r

In [44]:
print (numbers)

[1, 10, 20, 30, 40, 50]

In [45]:
numbers [2] = 25

In [46]:
print (numbers)

[1, 10, 25, 30, 40, 50]

In [49]:
numbers.append (60)
print (numbers)

[1, 10, 25, 30, 40, 50, 60, 60]

In [50]:
new_values = [80, 90, 100]

for n in new_values:
    numbers.append(n)

In [51]:
print (numbers)

[1, 10, 25, 30, 40, 50, 60, 60, 80, 90, 100]

In [52]:
new_numbers = numbers + new_values
print (new_numbers)

[1, 10, 25, 30, 40, 50, 60, 60, 80, 90, 100, 80, 90, 100]

In [53]:
type(new_numbers)

list

In [55]:
new_list = ['1', '10', '25', '30']

In [57]:
sum = ""

for n in new_list:
    sum = sum + n
    
print (sum)

1102530

In [59]:
print (int(sum) / 20)

55126.5

## Dictionaries

In [60]:
example = {}
type (example)

dict

In [61]:
marks = {}

In [62]:
marks [1] = 45
marks ['John'] = 55

In [63]:
marks

{1: 45, 'John': 55}

In [64]:
# Look at the keys
list (marks.keys())

[1, 'John']

In [65]:
# Look at the values
list (marks.values())

[45, 55]

In [71]:
my_class = {}
my_class ['Afzal'] = 91
my_class ['John'] = 55
my_class ['Rebecca'] = 85
my_class ['Afzal'] = 72

In [72]:
my_class

{'Afzal': 72, 'John': 55, 'Rebecca': 85}

In [73]:
list (my_class.values())

[72, 55, 85]

In [75]:
sum = 0
for n in list (my_class.values()):
    sum = sum + n

In [76]:
print (sum)

212

In [77]:
length = len(my_class.values())
print (length)

3

In [78]:
mean = sum / length
print (mean)

70.66666666666667

In [79]:
#Putting it together
names = ['Afzal', 'John', 'Rebecca']
marks = [90, 65, 79]

In [80]:
def grader (m, n):
    class_grades = {}
    
    for mark in m:
        if mark >= 80:
            my_grade = 'Distinction'
        elif mark >= 60:
            my_grade = 'Merit'
        elif mark >= 40:
            my_grade = 'Pass'
        else:
            my_grade = 'Fail'
        
        idx = m.index(mark)
        name = n[idx]
        
        #Add the name and grade to the dictionary
        class_grades[name] = my_grade
        
    #return class_grades
    print (class_grades)

In [81]:
grader (marks, names)

{'Afzal': 'Distinction', 'John': 'Merit', 'Rebecca': 'Merit'}